@import './header';
@import './hero';
@import './nav';
@import './button';
@import './footer';
@import './collection';
@import './why';
@import './h-i-w__inner';
@import './commitent';
@import './quality';
@import './configure__list';