@import './general';
@import './normalize';
@import './fonts';
@import './all-blocks/all-blocks';

.h-i-w .container {
	padding: 0 85px;
}

.create-your-plan__h-i-w .container {
	background-color: #2C343E;
	border-radius: 10px;
	padding-top: 100px;
	margin-bottom: 168px;
}

.headquarters {
	margin-left: 85px;
}

.h-i-w__title,
.headquarters__main-title {
	/* display: block; */
	font-family: 'Fraunces', serif;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	color: #83888F;
	margin-bottom: 80px;
}

.h-i-w__link {
	margin-bottom: 200px;
}

.biggest-part {
	.container {
		display: flex;
		padding: 0 105px;
		justify-content: space-between;
	}
}

.selections {
	// margin-left: 125px;
	margin-top: 0;
	width: 730px;
}