@import './nav';

.header {
    .container {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    padding: 44px 20px;
        max-width: 100%;
    }
}

.logo-link__image {
    width: 236px;
    height: 26px;
}